.vscode/settings.json

examples/solana/*
!examples/solana/*.cpp
!examples/solana/*.h
!examples/solana/*.hpp
examples/evm/*
!examples/evm/*.cpp
!examples/evm/*.h
!examples/evm/*.hpp

tests/solana/*
!tests/solana/*.cpp
!tests/solana/*.h
!tests/solana/*.hpp
tests/evm/*
!tests/evm/*.cpp
!tests/evm/*.h
!tests/evm/*.hpp
